:root {
  --card-width: 900px;
  --color-light-gray: #f9fafa;
  --text-color-black: #363636;
  --text-color-gray: #929292;
  --border-radius: 4px;
  --border-color: rgba(10, 10, 10, 0.1);
  --histogram-name-height: 30px;
  --top-player-name-height: 25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.layout {
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: var(--card-width);
}

.cards {
  width: 100%;
  display: block;
}

.card {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  border-radius: var(--border-radius);
  border: 0.5px solid var(--border-color);
}

.card-header-container {
  background: var(--color-light-gray);
  border-bottom: 0.5px solid var(--border-color);
  padding: 10px;
}

.title {
  color: var(--text-color-black);
  font-size: 1.25rem;
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-content-container {
  height: auto;
  padding: 10px;
  border-bottom: 0.5px solid var(--border-color);
}

.histograms {
  width: 100%;
  display: table;
}

.score-histogram {
  display: table-cell;
  padding: 0 5px;
}

.top-player-name {
  height: var(--top-player-name-height);
  line-height: var(--top-player-name-height);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background: lightgray;
}

.host-table {
  height: 100px;
  width: 100%;
  display: table;
}

.column-container {
  background: rgb(241, 241, 241);
  display: table-cell;
  height: 100%;
  position: relative;
}

.column {
  background: lightseagreen;
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 0;
}

.histogram-name {
  height: var(--histogram-name-height);
  line-height: var(--histogram-name-height);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: lightgrey;
}

.card-footer-container {
  padding: 10px;
  background: var(--color-light-gray);
}

.date {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--text-color-gray);
}

@media only screen and (max-width: 940px) {
  .layout {
    max-width: calc(100vw - 40px);
  }

  .column {
    left: 0.5px;
    right: 0.5px;
  }
}

